
.teclado-box {
    width: 80%; /* Ajuste conforme necessidade */
    height: 380px; /* Ajuste conforme necessidade para dar uma aparência retrato */
    background-color: gray;
    border: 2px solid var(--color-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto ; /* Centraliza horizontalmente no pai */
  }
  

/* Estilo para o retângulo "Justiça Eleitoral" */
.header-box {
    width: 80%;
    height: 60px;
    background-color: var(--color-light-gray);
    border: 2px solid var(--color-gray);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  


.header-box h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-gray);
    text-transform: uppercase;
}

/* Estilo para a tela do lado esquerdo */
.screen-box {
    height: 350px;
    width: 110%;
    background-color: var(--color-light-gray);
    border: 2px solid var(--color-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen-box input {
    width: 60px;
    font-size: 1.5rem;
    text-align: center;
}

/* Botões */
 /* Ajustes adicionais para os botões */
 .btn-key {
    height: 60px;        /* altura fixa do botão */
    width: 80%;         /* largura fixa do botão */
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-dark-gray);
    border: 2px solid var(--color-border-gray);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    margin: 0;           /* remove margem extra */
}

.btn-key:active {
    background-color: var(--color-darker-gray);
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.btn-action-branco {
    background-color: #fff;
    color: #000;
    border: 2px solid var(--color-gray);
    height: 50px;
    
}

.btn-action-corrige {
    background-color: var(--color-orange);
    color: #fff;
    border: 2px solid var(--color-dark-orange);
    height: 50px;
  
}

.btn-action-confirma {
    background-color: var(--color-green);
    color: #fff;
    border: 2px solid var(--color-dark-green);
   height: 60px;
   text-align: center;
}
